@font-face {
    font-family: 'head';
    src: url('fontes/header/LaborUnion-Regular.otf') format('opentype');
  }

@font-face {
    font-family: 'opensans';
    src: url('fontes/open-sans/static/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: opensansvariavel;
    src: url('fontes/open-sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root{

}

body{
    margin: 0px;
    text-align: justify;
}

header{
    padding: 5px;
    font-family: 'head';
    text-align: center;
}

header > h2{
    text-align: center;
    font-family: opensansvariavel;
}

p{
    text-align: justify;
    font-family: opensans;
}

h2, h3{
    text-align: left;
    font-family: opensans;
}

main{
    max-width: 800px;
    min-width: 400px;
    margin: auto;

}